*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

#root {
  background-color: #f3e5d7;
}

.recipe {
  background-color: #ffffff;
}
.recipe h1 {
  color: #302d2b;
}
.recipe h2 {
  color: #854532;
}
.recipe p,
.recipe li,
.recipe caption,
.recipe th,
.recipe td {
  color: #5f564e;
}
.recipe ul li::marker,
.recipe ol li::marker {
  color: #854532;
}
.recipe .separator {
  border-top: 0.0625rem solid #e3ddd7;
}
.recipe .recipe-preparation {
  background-color: #fff4f9;
}
.recipe .recipe-preparation h3 {
  color: #7b274e;
}
.recipe tbody tr {
  border-bottom: 0.0625rem solid #e3ddd7;
}
.recipe tbody tr:nth-of-type(4) {
  border-bottom: none;
}

@font-face {
  font-family: "Young Serif";
  src: url("/src/assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("/src/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
img {
  width: 100%;
  display: block;
}

b {
  font-weight: bold;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

ul, ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe {
  flex-basis: 45rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.recipe .recipe-content {
  padding: 2rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.recipe .recipe-content section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.recipe .recipe-content .recipe-intro .recipe-preparation {
  border-radius: 1rem;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}
.recipe .recipe-content .recipe-nutrition table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recipe .recipe-content .recipe-nutrition tbody tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.recipe .recipe-content .recipe-nutrition tbody tr th, .recipe .recipe-content .recipe-nutrition tbody tr td {
  padding: 0.7rem 0 0.7rem 0;
}
.recipe .recipe-content .recipe-nutrition tbody tr th {
  padding-left: 2rem;
}
.recipe .recipe-content .recipe-nutrition tbody tr td {
  padding-left: 0.5rem;
}
.recipe .recipe-content .recipe-nutrition .nutrition-value {
  color: #854532;
  font-weight: 700;
}

/* Fonts and identations */
h1,
h2 {
  font-family: "Young Serif";
  font-weight: 400;
}

h1 {
  font-size: 2.3rem;
  line-height: 2.3rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3rem;
}

body, p, caption, th, td, li, li::marker {
  font-family: "Outfit";
  font-size: 1rem;
  line-height: 1.5rem;
}

ul li,
ol li {
  margin-left: 1.5rem;
  padding-left: 1rem;
}

ul li::marker,
ol li::marker {
  font-weight: 700;
}

ul li::marker {
  font-size: 0.75rem;
}

ol li::marker {
  font-weight: 700;
}

@media (min-width: 45rem) {
  .recipe {
    margin: 8rem 0;
    border-radius: 1.5rem;
    gap: 2.5rem;
  }
  .recipe .recipe-image {
    margin: 2.5rem;
    margin-bottom: 0;
  }
  .recipe .recipe-image img {
    border-radius: 1rem;
  }
  .recipe .recipe-content {
    padding: 2.5rem;
    padding-top: 0;
    gap: 2.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
