@use 'hub';

ul, ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe {
  flex-basis: 45rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .recipe-content {
    padding: 2rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    section {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .recipe-intro {
      .recipe-preparation {
        border-radius: 1rem;
        padding: 1.5rem;
        display: grid;
        gap: 1rem; 
      }
    }

    .recipe-nutrition {
      table {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    
      tbody {
        tr {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          th, td {
            padding: 0.7rem 0 0.7rem 0;
          }

          th {
            padding-left: 2rem;
          }
          td {
            padding-left: 0.5rem;
          }
        }
      }
    
      .nutrition-value {
        color: hub.$brown-800;
        font-weight: hub.$font-weight-700
      }
    }
  }
}

/* Fonts and identations */
h1,
h2 {
  font-family: 'Young Serif';
  font-weight: hub.$font-weight-400;
}

h1 {
  font-size: hub.$font-size-xxl;
  line-height: hub.$font-size-xxl * 1;
}

h2 {
  font-size: hub.$font-size-xl;
  line-height: hub.$font-size-xl * 1;
}

h3 {
  font-size: hub.$font-size-lg;
  font-weight: hub.$font-weight-600;
  line-height: hub.$font-size-lg * 1;
}

body, p, caption, th, td, li, li::marker {
  font-family: "Outfit";
  font-size: hub.$font-size-rg;
  line-height: hub.$font-size-rg * 1.5;
}

ul li,
ol li {
  margin-left: 1.5rem;
  padding-left: 1rem;
}

ul li::marker,
ol li::marker {
  font-weight: hub.$font-weight-700;
}

ul li::marker {
  font-size: 0.75rem;
}

ol li::marker {
  font-weight: hub.$font-weight-700;
}

@media (min-width: 45rem) {
  .recipe {
    margin: 8rem 0;
    border-radius: 1.5rem;
    gap: 2.5rem;

    .recipe-image {
      margin: 2.5rem;
      margin-bottom: 0;

      img {
        border-radius: 1rem;
      }
    }

    .recipe-content {
      padding: 2.5rem;
      padding-top: 0;
      gap: 2.5rem;
    }
  }


}